
title: Turing & The Halting Problem - Computerphile
url: https://www.youtube.com/watch?v=macM_MtS_w4

title: Understanding the Halting Problem
url: https://www.youtube.com/watch?v=Kzx88YBF7dYj

title: The Halting Problem: The Unsolvable Problem
url: https://www.youtube.com/watch?v=VyHbd6sx5Po

title: Mathematician explains Turing's halting problem | Edward Frenkel and Lex Fridman
url: https://www.youtube.com/watch?v=_iFeZptwFMc

